services:
    zookeeper:
        image: confluentinc/cp-zookeeper:7.3.2
        hostname: zookeeper
        container_name: zookeeper
        ports:
            - "2181:2181"
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000

    kafka:
        image: confluentinc/cp-kafka:7.3.2
        hostname: kafka
        container_name: kafka
        depends_on:
            - zookeeper
        ports:
            - "9092:9092"
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR:

    control-center:
        image: confluentinc/cp-enterprise-control-center:7.3.2
        hostname: control-center
        container_name: control-center
        depends_on:
            - kafka
        ports:
            - "9021:9021"
        environment:
            CONTROL_CENTER_BOOTSTRAP_SERVERS: 'kafka:29092'
            CONTROL_CENTER_REPLICATION_FACTOR: 1
            CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
            CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
            CONFLUENT_METRICS_TOPIC_REPLICATION: 1
            PORT: 9021

    postgresql:
        image: postgres:14
        hostname: postgresql
        environment:
            POSTGRES_DB: "conduktor-console"
            POSTGRES_USER: "conduktor"
            POSTGRES_PASSWORD: "password"
            POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"

    conduktor-console:
        image: conduktor/conduktor-console:1.24.1
        depends_on:
            - postgresql
        ports:
            - "8088:8080"
        environment:
            CDK_CLUSTERS_0_ID: 'local'
            CDK_CLUSTERS_0_NAME: 'Local Kafka Cluster'
            CDK_CLUSTERS_0_BOOTSTRAPSERVERS: 'kafka:29092'
            CDK_DATABASE_URL: "postgresql://conduktor:password@postgresql:5432/conduktor-console"
            CDK_ADMIN_EMAIL: 'admin@conduktor.io'
            CDK_ADMIN_PASSWORD: 'password'
            CDK_AUTH_LOCAL-USERS_0_EMAIL: 'user@conduktor.io'
            CDK_AUTH_LOCAL-USERS_0_PASSWORD: 'password'

